/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB    &kp Q  &kp W  &kp F    &kp P        &kp B    &trans  &trans  &kp J    &kp L     &kp U      &kp Y    &kp SQT   &kp BSPC
&kp LCTRL  &kp A  &kp R  &kp S    &kp T        &kp G    &trans  &trans  &kp M    &kp N     &kp E      &kp I    &kp O     &kp LGUI
&kp LSHFT  &kp Z  &kp X  &kp C    &kp D        &kp V                    &kp K    &kp H     &kp COMMA  &kp DOT  &kp FSLH  &kp RALT
                         &kp ESC  &lt 1 SPACE  &kp TAB                  &kp RET  &kp BSPC  &kp DEL
            >;
        };

        Nav {
            bindings = <
&trans  &trans    &trans    &trans     &trans     &trans  &trans  &trans  &kp K_REDO  &kp K_PASTE  &kp K_COPY  &kp K_CUT  &kp K_UNDO  &trans
&trans  &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans  &trans  &trans  &kp CAPS    &kp LEFT     &kp DOWN    &kp UP     &kp RIGHT   &trans
&trans  &trans    &trans    &trans     &trans     &trans                  &kp INSERT  &kp HOME     &kp PG_UP   &kp PG_DN  &kp END     &trans
                            &trans     &none      &trans                  &kp RET     &kp BSPC     &kp DEL
            >;
        };
    };
};
